<!DOCTYPE html>

<html xmlns:th="http:www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Student Registeration Form</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  
<body>
	

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	    <!-- Brand -->
	    <a class="navbar-brand" href="#">Student Management System</a>

	    <!-- Toggler/collapsible Button -->
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	        <span class="navbar-toggler-icon"></span>
	    </button>

	    <!-- Navbar links -->
	    <div class="collapse navbar-collapse" id="collapsibleNavbar">
	        <ul class="navbar-nav">
	            <li class="nav-item"><a class="nav-link" th:href="@{/students}">Student Management</a></li>
	        </ul>
	    </div>
	</nav>
	
	
	<h2 class="text-center mt-4">Create New Student</h2>
	<div class="container">
	  <div class="row justify-content-center">
	    <div class="col-md-6 border rounded p-4">
	
	
	<form th:action="@{/studentss}" th:object="${student}" method="post">
		
		<div class="form-group">
			<label>First Name : </label>
			<input type="text" name="firstName" id="firstname" placeholder="Enter First Name"class="form-control" />
		</div>
		<div class="form-group">
			<label>Last Name : </label>
			<input type="text" name="lastName" id="lastname" placeholder="Enter Last Name" class="form-control" />
		</div>
		
		<div class="form-group">
			<label>Email : </label>
			<input type="text" name="email" id="email" placeholder="Enter Email" class="form-control"/>
		</div>
		
		<div class="box-footer">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
	
</div>
</div>
</div>	
	
	
</body>  
</html>